
.card h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0 0px;
}

.card p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.card {
    box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
    width: 400px;
    padding: 20px 30px;
    background-color: white;
}

.card .icon-style {
    font-size: 18px;
    color: var(--default-color);
}

.card .container * {
    border: hidden;
}

.card .icon {
    font-size: 11;
    color:rgb(9, 135, 198)
}

.card .iconText {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.card .tab {
    display: inline-block;
    margin-left: 40px;
}

.card .iconLine {
    vertical-align: middle;
    display: table-cell;
}

.card .vertical-center {
    vertical-align: middle;
  }

.card .containerIcon {
    height: 35px;
    position: relative;
    border: 0;
}

.card button {
    font-family: 'Roboto', sans-serif;
    margin:30px auto;
    background: rgb(9, 135, 198);
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display:block;
    outline:none;
    position:relative;
    top:0;
    color: white;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
    border-radius: 30px;
}

.card button:hover{
    background:#196aa0;    
}
.card bbutton:active, .blue:focus{
    background:#2fb7df;    
}
.gallery-figcaption .gallery-figcaption--thumbnails .caption-thumbnails ul.thumbnails-list li button.thumbnail-button{
    border: 4px transparent;
}