
.list-column-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-m);
}
.list-column-container>.list-column>div{
    margin-top: var(--space-m);
}
.project-detail-container-desktop{
    width: calc(var(--column-count) * var(--card-width));
    margin: auto;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    top:0;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: var(--content-width);
    z-index: 10;
}
.project-detail-container-mobile{
    width: calc(var(--column-count) * var(--card-width));
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    height: calc(100vh - 56px);
    top:0;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 10;
    left: 5px;
}