.preview-galery {
    margin: 20px 0;
}

.preview-galery .preview-galery-img-container{
    
    display: flex;
    flex-direction: row;
}

.preview-galery .preview-galery-img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
}

.preview-galery .preview-galery-img img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    transition: transform 100ms ease;
}

.preview-galery .preview-galery-img img:hover {
    transform: scale(1.1);
}

.preview-galery .overlay{
    border-radius: 10px;
    height: 70px;
    width: 70px;
    background-color: var(--default-color);
    margin-right: 10px;
    /* float: right; */
    display: flex;
    justify-content: center;
    opacity: 0.7;
    cursor: pointer;
    font-size: 20px;   
    transition: font-size 100ms ease; 
}

.preview-galery .overlay-text{
    padding:auto;
    margin:auto;
    text-align:centre;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 500;
}

.preview-galery .overlay:hover {
    font-size: 22px;
}