.profile-data-main{
    width: var(--content-width);
    border-radius: 20px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
}
.profile-section{
    margin:15px;
    position: relative;
}
.profile-preview-main .profile-name{
    margin: 0;
}
.profile-preview-main .username{
    font-style: italic;
    color: rgb(145, 145, 145);
    text-align: right;
    margin: 2px;
}
.profile-preview-main>.name-username-container{
    margin-left: 20px;
}


.profile-preview-main{
    display: flex;
    flex-direction: row;
    position: relative;
}