.full-width-image{
    width: 100%;
    height: calc(var(--content-width) * 0.6);
    object-fit: contain;
    background-size: cover;
}


.ImageHeadline{
    /* position: relative; 
    margin-left: 25px;  */
    margin: auto;
    padding-top: 20%;
    /* padding-left: 20px; */
    width: 60%;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 700; */
}

h2{
    margin: auto;
    margin-top: 20px; 
    width: 60%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 700; */
}