.desktop-tab-main{
    width: var(--navigation-width);
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    cursor: pointer;
}
.desktop-tab-main>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icon-container {
    left:20px;
}
.title-container{
    left: 60px;
}

.desktop-tab-main-selected{
    background-color: white;
    box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.1);
}