.searchFieldContainer {
    text-align: center;
    padding-bottom: 40px;
}

.searchField {
    height: auto;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    display:inline-block;
    box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.searchField input {
    border-width:0px;
    border:none;
    padding: 15px 30px;
    font-size: 20px;
    width: var(--search-width);
    font-weight: 500;
    border-radius: 30px;
    color: #797272;
}

.searchField textarea:focus, input:focus{
    outline: none;
}

.searchField .searchIcon{
    color: #797272;
    vertical-align: middle;
    margin: 0px 0px 3px 20px;
}

.searchField .arrowIcon {
    color: #797272;
    vertical-align: middle;
    margin: 0px 20px 3px 0px;
}

.searchField button {
    outline: none;
    background-color: transparent;
    border: none;
}

.searchField button:hover {
    cursor: pointer;
}