.bottom-navigation{
    width: 100%;
}
.main-div-desktop{
    position: relative;
    height: 100%;
    width:100%;
    overflow: hidden;
}
.navigation-container{
    position: absolute;
    left:0;
    top:25%;
    width: var(--navigation-width);
}

.desktop-content-container{
    position: absolute;
    top:0;
    right: calc((100vw - var(--content-width) - var(--navigation-width))/2);
    width: var(--content-width);
    padding: 10px;
    overflow: overlay;
    height: 100vh;
}
.mobile-content-container{
    flex-grow: 1;
    width: var(--content-width);
    overflow-y: overlay;
}
.main-div-mobile{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}