.textblock-container{
    margin: auto;
    width: 60%;
    /* border: 3px solid grey;
    padding: 5px; */
    margin-bottom: 50px;
}


.TextHeadline{
    margin: unset;
    margin-top: 7%;
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p{
    position: relative;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
}