.project-detail-header-close-button{
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
.project-detail-header-close-button>*{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-in-header {
    position: relative;
    width: 33.33333%;
    text-align: center;
    margin: auto;
}
.project-header-detail-container{
    width: 100%;
    text-align: center;
}

.project-header-meta-span{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.project-header-meta-span>*{
    margin: 30px;
}

.time-and-place-text {
    position: relative;
    padding-right: 5px;
    float: left;
    display: inline;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.tag {
    position: relative;
    padding-right: 5px;

    display: inline;
    position: relative;
}


