body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(220, 239, 248);
  height: 100%;
}
html{
  height: 100%;
}
:root{
  --space-s: 4px;
  --space-m:30px;
  --space-l:140px;
  --primary: rgb(9, 135, 198);
  --secondary: rgb(155, 149, 149);
}

#root{
  height: 100vh;
}
::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-track {
  box-shadow: transparent;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(202, 200, 200, 0.322);
  outline: transparent;
  border-radius: 3px;
}